body {
    margin: 1rem;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 4rem;
}

.intro img {
    max-width: 75%;
    border: 5px solid #000;
}